<main class="main-content">
  <section class="main-section">
    <div class="main-section__block product-block">
      <table class="product-list">
        <thead>
            <tr>
              <th><h1 class="product-list__headline">List of Products</h1></th>
            </tr>
        </thead>
        <tbody>
          <tr class="name-list__item" *ngFor="let item of dataList" (click)="onSelect(item)">
            <td><a class="product-list__link">{{ item.name }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="main-section__block info-block" *ngIf="selectedProduct">
      <table class="product-info">
        <tbody>
          <tr *ngFor="let position of selectedProduct.properties | keyvalue:indexOrder">
            <td>{{ position.key }}</td>
            <td>{{ replaceValue(position.value) }}</td> 
          </tr>
        </tbody>
      </table>
      <button class="close-button" (click)="closeElem()">Close</button>
    </div>
  </section>
</main>